{
  "name": "ecommerceberlin-site",
  "alias": "next.ecommerceberlin.com",
  "type": "npm",
  "public": false,
  "version": 1,
  "scale": {
    "bru1": {
      "min": 1,
      "max": 1
    },
    "sfo1": {
      "min": 1,
      "max": 1
    }
  },
  "dotenv": true
}
